---
layout: compress
---
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/banner/sparshamlogo.jpg" type="image/jpg" alt="Sparsham Logo">
        <title>Sparsham</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/responsive.css">
		<style>
			img {
			  max-width: 100% !important;
			  max-height: 100% !important;
		  }
		  </style>
    </head>
<body>
        
	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" style="color:white !important" href="index.html"><img src="img/banner/sparshamlogo.png" alt="Sparsham Logo">Sparsham</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
								<li class="nav-item"><a class="nav-link" href="#about_us">About</a></li> 																
								<li class="nav-item"><a class="nav-link" href="#blog">Blog</a>
								<li class="nav-item"><a class="nav-link" href="#events">Events</a>
								<li class="nav-item"><a class="nav-link" href="#team">Our Team</a>
								<li class="nav-item"><a class="nav-link" href="#contact">Contact</a>
								<li class="nav-item"><a class="nav-link" href="#participate">Participate</a></li>
							</ul>
						</div> 
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->
	
	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="banner_content">
					<p class="upper_text">Be the spark</p>
					<h2>to ignite the future of the world</h2>
					<p>
						<b> 
						We believe education brings awarness and enlightment to society by raising Compassionate and responsible individuals.
						School education aims at the holistic development of a child's social, emotional, cognitive and physical needs in order 
						to build a solid and broad foundation for lifelong learning and wellbeing. Our responsiblity is to ensure this by reinforcing 
						the path towards education and excel.Lets extend your hands and join us for developing a new educated and responsible young minds around us.
						</b>
					</p>
					<a class="primary_btn mr-20" href="#participate">Participate with Us</a>
					<a class="primary_btn yellow_btn text-white" href="#features_causes">How Sparsham works!</a>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->
	
	
	<!--================ Start Features Cause section =================-->
	<section class="features_causes section_gap"  id="features_causes">
		<div class="container">
			<div class="main_title">
				<h2>Why Education is so important ?</h2>
				<p>
					<blockquote>
									 <p>Education is the great engine of personal development. 
										It is through education that the daughter of a peasant can become a doctor, 
										that the son of a mine worker can become the head of the mine, 
										that a child of farm workers can become the president of a great nation. 
										It is what we make out of what we have, not what we are given, that separates one person from another</p>
									<footer><cite title="Source Title">Mandela, N.R.(1994). <a href='https://blog.cambridgeinternational.org/nelson-mandela/'>Long Walk to Freedom</a>.</cite></footer>
					</blockquote>
				</p>				
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/features/schoolKids.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Facilitate their journey to school</h4>
								<p class="card-text">
									Be part of our vision to reinforce their path to school.
								</p>
								<div class="d-flex justify-content-between raised_goal">
									<p>Kerala Government provides free education in both Malayalam and English medium from lower primary to higher secondary.
									Apart from that schools provides free meals to the children.Encouraging a child to school will help to get a proper meal 
									as well as education. We support all the needs like transportation, dress, books and other fees. In some exceptional cases
									we may support the family requirements after getting approval from EC.</p>									
								</div>
								<div  class="d-flex justify-content-between donation align-items-center" style="display:none !important;">
									<a href="#" class="primary_btn"></a>
									<p><span class="lnr lnr-heart"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/features/interactiveSession.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Compassionate Interaction</h4>
								<p class="card-text">
									A day programme to enagage and interact with lonliness people in our society.
								</p>
								<div class="d-flex justify-content-between raised_goal" >
									<p>There a many people around us are living a lonely life in their rooms during their last days or may be some kind of disablities. 
									We often arrange some interactive sessions and have food with them. We tells stories, plays movies.</p>
									 
								</div>
								<div class="d-flex justify-content-between donation align-items-center"  style="display:none !important;">
									<a href="#" class="primary_btn"></a>
									<p><span class="lnr lnr-heart"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/features/awarnessCampign.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Awarness Campagins</h4>
								<p class="card-text">
									Campagins to make people aware of things and stay out of fear.
								</p>
								<div class="d-flex justify-content-between raised_goal"  >
									<p>We conduct sessions and seminars to spread awarness about various topics like blood donation, organ donation and more.
									Also our members are active in sharing valid information from trusted sources on the ocasion of any catastrophic disaster.
									We also encourage people to participate directly to the official fund raising campigns conducted by the state and central governments.</p>
									 
								</div>
								<div class="d-flex justify-content-between donation align-items-center" style="display:none !important;">
									<a href="#" class="primary_btn"></a>
									<p><span class="lnr lnr-heart"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Cause section =================-->


	

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap_bottom" id="about_us" >
		<div class="container" >
			<div class="row">	
				<div class="single_about row">
					<div class="col-lg-6 col-md-12 text-center about_left">
						<div class="about_thumb">
							<img src="img/sparshamevent.jpg" class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-12 about_right">
						<div class="about_content">
							<h2>
								We are an NGO <br>
									and operates at the Indian State of Kerala
							</h2>
							<p>
									We are a Society Registered under the Travancore – Cochin Literary, Scientific and
							 Charitable Societies Act, 1955. Act XII of 1955. We believes equal oppurtunity and freedom to speak. 
							 All our activites are decided by an executive committee (EC) of the members and the office bearers.The office bearers and EC members are elected during the annual general body meeting (AGM). 
							 All the financial transactions related to Sparsham are accountable and audited on end of every fiscal by an external authorized auditing firm. The annual report which is 
							 available to all members contains all the financial information and activites conducted on the respective year. 
							 </p>							 							 
							<a  style="display:none" href="#" class="primary_btn">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->
	
	<!--================Team Area =================-->
	{% include sections/EC.html %}
	<!--================End Team Area =================-->


	
	<!--================ Start Causes Area =================-->
	<section class="causes_area" id="participate">
		<div class="container" >
			<div class="main_title" >
				<h2>Our Major Focus</h2>
				<p>We encourage the students from econmically challenging situations by sponsoring them or arranging facilities like food,study materials, 
dress and transportation to continue and complete their education, from lower primary to higher secondary.</p>
				<p></p>
				
			</div>
			<div class="row">				
				<div class="col-lg-4 col-md-6">
					<div class="single_causes">
						<h4>Join Our Team!</h4>
						<img src="img/causes/c3.png" alt="">
						<p>
						   You can join us by submitting an application form and following the rules mentioned in the <a href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/SparshamCharitableSociety/sparsham.github.io/b08adbfdb9d85fe8b56f81f53a61a75c011a25d8/_docs/ByLaw/SparshamBylawRevised01-06-2019.pdf" 
						   tilte="Sparsham ByLaw" target="_blank">manifesto</a> of Sparsham (Memorandum). <a href="index.html#applyMembership">Know more</a>
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single_causes">
						<h4>Give Inspiration!</h4>
						<img src="img/causes/c2.png" alt="">
						<p>
							You can join us on one of our interaction session with children and inspires them by sharing your experience and knowledge.
							<a href="index.html#joinAnEvent">Know more</a>
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single_causes">
						<h4>Connect the dots!</h4>
						<img src="img/causes/c1.png" alt="">
						<p>
							You can join with us on an any activity by leavearing your resources, time or money to assist the needy to connect their life
							which was impacted by family issues, poverty or a catastrophy or an epidemic.
							<a href="index.html#connectTheDots">Know more</a>
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!--================ End Causes Area =================-->
	
	<!--================ Start CTA Area =================-->
	<div class="cta-area section_gap overlay" >
		<div class="container">
			<div class="row justify-content-center" id="applyMembership">
				<div class="col-lg-7" >
					<h1>Be one of us!</h1>
					<p>
					<b>You are agreeing the terms and conditions of Sparsham  <a href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/SparshamCharitableSociety/sparsham.github.io/b08adbfdb9d85fe8b56f81f53a61a75c011a25d8/_docs/ByLaw/SparshamBylawRevised01-06-2019.pdf" 
						   tilte="Sparsham ByLaw" target="_blank">Memorandum</a> upon submission.</b>
					</p>
					<p>
						You are always welcome to be part of our team. We use online meetings to discuss the action items and implementation plan.
						Also we have an active whatsapp group for EC and for all members.
						There are three steps.
						<br />
						1. Click <b><a href="https://docs.google.com/forms/d/e/1FAIpQLSelgYBKXKG5WQ0ZM0a1pwH-yqGaqkwhuZ0DVpy1Krwko-3YUw/viewform" target="_blank">here</a></b> to fill and submit the Memebership application form.
						
						<br />
						2. A Sparsham Memeber will reach to you and introduce the sparsham and its mode of operation and recommends to EC.
						<br />
						3. Executive Committee (EC) makes the decision and communicate to you. 
						</p>
					<a href="#" style="display:none !important;" class="primary_btn yellow_btn rounded">Join Sparsham</a>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<br />
					</div>					
				</div>
				<div class="row justify-content-center" id="joinAnEvent">
					<div class="col-lg-7">
						<h1>Revive others!</h1>
						<p>
							Sharing is Caring, share a day's time for a wonderful clause.							
						</p>
						<p>
							We conduct various events on different categories from awareness campaigns to blood donation, conducting scholarships to exhibit movies,
							visiting tribal settlements to cleaning activities. We works with similar organisations and spend a full day.  We make fun, tells stories and 
							make them dance and spread happiness and joy. Our day events includes having a delicious lunch with them. A day's time is a huge investment of 
							time, and its gets a wonderful meaning and feeling when it was dedicated to others. Join us in one of events.
						</p>	 
					</div>					
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<br />
					</div>					
				</div>
				<div class="row justify-content-center" id="connectTheDots">
					<div class="col-lg-7">
						<h1>Be a Hero!</h1>
						<p>
							 <blockquote>
									 <p>Dream, Dream Dream <br />
										Dreams transform into thoughts <br />
										And thoughts result in action.  <br />
									 </p>
									<footer><cite title="Source Title">A P J Abdul Kalam</cite></footer>
							</blockquote>
							
						</p>
						<p>
							Kerala is famous for providing free basic education from lower primary to higher secondary with a much better educational environments. 
							The financial issues and the family related issues are one of the key factors which causes school drop outs to an extend.
							Our main focus is to encourage the child to continue his studies by overcoming these economic constraints. We are trying to overcome these
							economic constraints by providing school-office stationery, bags, uniform and travel expenses. In exceptional cases, we support the family
							by providing financial assistance. We distribute these materials or donate an amount to our beneficiaries during the educational year.
						</p>
						<p>
							Today, the medical expenses are keep on rising and sometimes we may meet people who needs a financial assistance to overcome his
							medical condition. We encourage our members and our friends to contribute directly to the person's bank account.
						</p>
						<p> The natural calamities and the epidemic dieases may cause huge financial burden to the society. We are responsible for assisting the local government,
						state government and the central government to overcome this crisis. We encourage our members to contribute directly to the diaster funds managed by various
						government agencies. We also visit the camps and distribute the required items or donate these items to government approved collection centres.
						</p>
						
						<p>We are thankful to you for joining with us by arranging the materials or transportation or raising the funds.Any of these activities helps the needy 
						to overcome the situation and start again.</p>
						
						<p>
							Account name: SPARSHAM CHARITABLE SOCIETY <br />
							Account number: 33908620453 <br />
							Account type: Current Account <br />
							Bank: State Bank of India <br />
							IFSC: SBIN0031449 <br />
							UPI: sparsham@sbi <br />
						</p>	
						<p>
						<b><u>Donations are not Eligible Under Section 80G and 80GGA</u></b>
						</p>
					</div>
				</div>
			</div>
			</div>
	</div>
	
	<!--================ End CTA Area =================-->
	
	<!--================ Start Recent Event Area =================-->
	<section class="event_area section_gap overlay" id="events" >
		<div class="container" >
			<div class="main_title">
				<h2>Events</h2>				
			</div>		
			<div class="row">
					{% assign events = site.event | reverse | slice: 0, 4 %}
					{% for item in events %}
					<div class="col-lg-6">
						<div class="single_event">
							<div class="row align-items-center">
								<div class="col-lg-6 col-md-6">
									<figure>
										{% if item.image== '' or item.image == nil %}
										{%  assign imgPath ="img/banner/sparshamlogo.png" %}
										{% else %}
										{%  assign imgPath =item.image %}
										{% endif %}
										<img class="img-fluid w-100" src="{{ imgPath }}" alt="Image of {{ item.title }}">
										<div class="img-overlay"></div>
									</figure>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="content_wrapper">
										<h3 class="title">
											<a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
										</h3>
										<p>
											{{ item.subtitle }}
										</p>
										
										<a href="{{ item.url | prepend: site.baseurl }}" class="primary_btn">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
					<a href="/events" class="primary_btn">All events</a>
				</div> 
			</div>	
		</div>
	</section>
	<!--================ End Recent Event Area =================-->



	<!--================ Start Story Area =================-->
	<section class="section_gap story_area" id="blog">  
		<div class="container" >
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="main_title">
						<h2>Blog</h2>
						
					</div>
				</div>
			</div>
			<div class="row">			 
				{% assign events = site.blog | reverse | slice: 0, 6 %}
				{% for item in events %}
				<div class="col-lg-4 col-md-4">
					<div class="single-story">
						<div class="story-thumb">
							
							{% if item.image== '' or item.image == nil %}
								{%  assign imgPath ="img/banner/sparshamlogo.png" %}
							{% else %}
								{%  assign imgPath =item.image %}
							{% endif %}
							
							<img class="img-fluid" src="{{ imgPath }}" data="{{ my_variable }}"
							alt="Image of {{ item.title }}"/>
						</div>
						<div class="story-details">
							<div class="story-meta">
								<h3 class="title">
									<a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
								</h3>
								<p>
									{{ item.subtitle }}
								</p>								
								
							</div>
							<a href="{{ item.url | prepend: site.baseurl }}" class="button" >Continue reading</a>							 
						</div>
					</div>
				</div>
				{% endfor %}
			</div>		
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
					<a href="/blogs" class="primary_btn">All blogs</a>
				</div> 
			</div>	 
		</div>
	</section>
	<!--================ End Story Area =================-->
        
	<!--================ Start footer Area  =================-->	
	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								To encourage the students from econmically challenging situations by sponsoring them or arranging facilities like food,study materials, 
dress and transportation to continue and complete their education, from lower primary to higher secondary.
							</p>
							
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6" style="display:none !important;">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title"> </h4>
							<ul class="list">
								 
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6" style="display:none !important;">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title"> </h6>
							<ul class="list instafeed d-flex flex-wrap">
								 
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets" id="contact">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									Sayuj  - +91-80890 50051 (Kochi)
									<br />
									Jaseem - +91-99954 89827 (Kochi)
									<br />
									Nithun - +91-90360 44654 (Banglore)
									<br />
									Vishnu - +91-70122 78418 (Trivandrum)
									
								</p>
	
								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									<a href="mailto:info@sparsham.org">info@sparsham.org</a>
									 <br/>
									<a href="https://www.sparsham.com">www.sparsham.org</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">						
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Sparsham Charitable Society
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->
	
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="vendors/lightbox/simpleLightbox.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/theme.js"></script>
	 
	 
</body>
</html>